@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* primary settings and styles */
*{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

/* primary font style */
.primary-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* common colors for commonly use */
.color-1{
  color: #FEA301;
}
.color-2{
  color: #01ACFD;
}
.color-3{
  color: #41bd10;
}
.color-4{
  color: #5D58EF;
}

/* primary button style */
.primary-btn{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

/* nav-section Styling */
nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 130px;
  position: relative;
}
nav .nav-item,nav .nav-links, .nav-button, .adjust-div{
  display: flex;
  align-items: center;
}
.nav-logo img {
  max-width: 62%;
}
.nav-logo h1{
  font-size: 2rem;
  font-weight: 550;
  color: #111111;
  margin-left: 4px;
  letter-spacing: -2px;
}
.nav-links a{
  text-decoration: none ;
  font-size: 1.1rem;
  font-weight: 420;
  margin-right: 40px;
}
.nav-btn{
  padding: 12px 60px;
  background-color: #FEA301;
}

/* Hamburger Menu */
#menu-toggle {
  display: none;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 9%; /* Position near the logo */
  top: 30px;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 3px 0;
  transition: all 0.3s;
}

/* banner section styling */
.banner-section{
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  gap: 30px;
}
.banner-content{
  padding-top: 12%;
  padding-right: 5%;
}
.banner-content h1{
  font-size: 3.2rem;
  color: #111111;
  font-weight: 880;
  line-height: 55px;
  margin-bottom: 27px;
}
.banner-content p{
  font-size: 1rem;
  color: #111111;
  font-weight: normal;
  margin-bottom: 27px;
}
.banner-btn{
  padding: 14px 40px;
  background-color: #111111;
}

/*  curriculum section adding and styling */
.curriculum{
  display: flex;
  flex-direction: column;
  padding: 8% 10%;
  max-width: 100%;
  height: 880px;
  background-image: url(./images/bg.png) ;
  background-repeat: no-repeat;
}
.activities-parent{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.curriculum > h1{
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-bottom: 7%;
}
.activity-1, .activity-2, .activity-3{
  text-align: center;
}
.activity-1{
  max-width: 31%;
  height: auto;
  background: linear-gradient(to bottom, #DEF5FF 5%, #FFFFFF 40%);
  box-shadow: 2px 2px 10px #e6e3e3;
  padding:  60px 23px;
  border-radius: 18.5px;
}
.activity-2{
  max-width: 31%;
  height: auto;
  background: linear-gradient(to bottom, #FFF4DC 5%, #FFFFFF 40%);
  box-shadow: 2px 2px 10px #e6e3e3;
  padding:  60px 23px;
  border-radius: 18.5px;
}
.activity-3{
  max-width: 31%;
  height: auto;
  background: linear-gradient(to bottom, #F2E8FF 5%, #FFFFFF 40%);
  box-shadow: 2px 2px 10px #e6e3e3;
  padding:  60px 23px;
  border-radius: 18.5px;
}
.activity-2 img, .activity-3 img{
  margin-bottom: 7%;
}
.activity-1 img{
  margin-bottom: 3.1%;
}

.activity-1 h1, .activity-2 h1, .activity-3 h1{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 7%;
}

.activity-1 h4, .activity-2 h4, .activity-3 h4{
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 10%;
}
.activity-1 a, .activity-2 a, .activity-3 a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}
.standard-btn{
  display: flex;
  max-width: 100%;
  height: auto;
  margin-top: 7%;
  margin-left: 43%;
  margin-right: 38%;
  justify-content: space-evenly;
}
.standard-btn a img{
  max-width: 49%;
  height: auto;
}

/* stories section styling */
.stories-section{
  display: flex;
  flex-direction: column;
  gap: 8%;
  max-width: 100%;
  height: auto;
  padding: 8% 10%;
  background-image: url(./images/bg.png),
  linear-gradient(to bottom, #ffffff 30%, #faeac6 100%);
}
.multi-stories{
  display: flex;
  max-width: 100%;
}
.big-stories{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.stories-section h1{
  font-size: 2.6rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 5%;
}
.story-0{
  max-width: 100%;
  height: auto;
  border-radius: 18px;
  background-color: #FFFFFF;
  margin: 10px;
  position: relative;
}
.story-0 img{
  max-width: 100%;
  height: auto;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.story-0 button{
  position: absolute;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  top: 45%;
  left: 32%;
  background-color: #3CD8E8;
  border: none;
  font-size: 0.8rem;
  font-weight: normal;
  color: #FFFFFF;
  cursor: pointer;
}
.story-0 h1{
  font-size: 1.7rem;
  font-weight: bold;
  color: #000000;
  padding: 61px 30px 10px 30px;
  text-align: start;
}
.story-0 h3{
  font-size: 1.1rem;
  font-weight: normal;
  color: #666666;
  padding: 0px 30px 61px 30px;
}
.big-stories{
  max-width: 100%;
  height: auto;
}
.story-1 img, .story-2 img, .story-3 img, .story-4 img{
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}
.story-1 h3, .story-2 h3, .story-3 h3, .story-4 h3{
  font-size: 1.1rem;
  font-weight: bold;
  color: #000000;
  padding: 30px 30px;
}
.story-1 button{
  position: absolute;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  top: 53%;
  left: 25%;
  border: none;
  background-color: #95B226;
  font-size: 0.8rem;
  font-weight: normal;
  color: #FFFFFF;
  cursor: pointer;
}
.story-2 button{
  position: absolute;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  top: 53%;
  left: 25%;
  border: none;
  background-color: #95B226;
  font-size: 0.8rem;
  font-weight: normal;
  color: #FFFFFF;
  cursor: pointer;
}
.story-3 button{
  position: absolute;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  top: 54%;
  left: 24%;
  border: none;
  background-color: #5D58F0;
  font-size: 0.8rem;
  font-weight: normal;
  color: #FFFFFF;
  cursor: pointer;
}
.story-4 button{
  position: absolute;
  padding: 10px 20px;
  border-radius: 50px;
  top: 54%;
  left: 28%;
  border: none;
  background-color: #5D58F0;
  font-size: 0.8rem;
  font-weight: normal;
  color: #FFFFFF;
  cursor: pointer;
}
.story-1, .story-2, .story-3, .story-4{
  border-radius: 18px;
  margin: 7px 8px ;
  background-color: #FFFFFF;
  position: relative;
} 
/* footer section styling */
.about-simple{
  display: flex;
  width: 100%;
  height: auto;
  padding: 8% 10%;
  background-color: #01ACFD;
  justify-content: space-between;
  gap: 20px;
}
.section-1{
  max-width: 35%;
  height: auto;
}
.footer-logo{
  display: flex;
  margin-bottom: 7%;
}
.about-school, .links{
  display: flex;
  flex-direction: column;
}
.footer-logo img{
  color: #FFFFFF;
}
.footer-logo h1{
  font-size: 2.4rem;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 32px;
}
.about-text p{
  font-size: 1.2rem;
  font-weight: normal;
  color: #e4e2e2;
}
.about-school{
  max-width: 20%;
  height: auto;
}
.about-school h2{
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFFFFF;
}
.links a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: normal;
  color: #e4e2e2;
  margin-top: 14px;
}
.contact h2{
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.contact img{
  cursor: pointer;
}

/*  Responsive design styling */
@media (max-width : 600px) {
  /* navbar responsive */
  .nav-links a{
    display: none;
  }
  .navbar{
    flex-direction: column; /* Navbar content stacks vertically */
    align-items: center;
  }
  .nav-links{
    flex-direction: column;
    display: none;
    position: absolute;
    top: 124px;
    width: 100%;
    left: 0;
    background-color: #FFFFFF;
    align-items: center;
  }
  .nav-button{
    display: none;
    position: absolute;
    margin-top: 70px;
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 30%;
    align-items: center;
  }
  #menu-toggle:checked ~ .nav-links a,
  #menu-toggle:checked ~ .nav-button {
    display: block;
  }
  .last{
    padding-bottom: 60px;
  }
  .nav-links a{
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    margin: 0 auto;
  }
  .nav-button{
    padding-bottom: 20px ;
    padding-top: 15px;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
  } 
  .nav-item{
    padding-right: 50vw;
  }
  /* banner section responsive */
  .banner-section{
    flex-wrap: wrap-reverse;
    gap: none;
  }
  .banner-picture{
    max-width: 100%;
  }
  .banner-picture img{
    max-width: 100%;
  }
  .banner-content{
    text-align: center;
    max-width: 80vw;
  }
  .banner-content h1{
    font-size: 7.4vw;
    line-height: 32px;
  }
  .banner-content p{
    font-size: 0.7rem;
  } 

  /* curriculum section responsive */
  .curriculum > h1{
    font-size: 2.4rem;
    line-height: 34px;
    margin-top: 20%;
  }
  .activities-parent{
    display: flex;
    flex-direction: column;
  }
  .activity-1{
    max-width: 98%;
    height: auto;
    padding:  50px 18px;
    margin-top: 5%;
  }
  .activity-2{
    max-width: 98%;
    height: auto;
    padding:  50px 18px;
    margin-top: 5%;
  }
  .activity-3{
    max-width: 98%;
    height: auto;
    padding:  50px 18px;
    margin-top: 5%;
  }
  .activity-1 h1, .activity-2 h1, .activity-3 h1{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 7%;
  }
  
  .activity-1 h4, .activity-2 h4, .activity-3 h4{
    font-size: 0.8rem;
    font-weight: normal;
    margin-bottom: 9%;
  }
  .activity-1 a, .activity-2 a, .activity-3 a{
    font-size: 1.2rem;
  }
  /*  story section styling */
  .multi-stories{
    display: flex;
    flex-direction: column;
  }
  .stories-section{
    margin-top: 150%;
  }
  .story-0{
  display: none;
  }
  .big-stories{
    max-width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .story-1 img, .story-2 img, .story-3 img, .story-4 img{
    max-width: 100%;
  }
  .story-1 h3, .story-2 h3, .story-3 h3, .story-4 h3{
    font-size: 0.5rem;
    font-weight: normal;
    color: #000000;
    padding: 3px ;
  }
  .story-1, .story-2, .story-3, .story-4{
    border-radius: 8px;
    margin: 7px;
  }  
  .story-1 img, .story-2 img, .story-3 img, .story-4 img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  /* footer section responsive */
  .about-simple{
    flex-direction: column;
  }
  .section-1{
    max-width: 70%;
    height: auto;
  }
  .about-school{
    max-width: 50%;
    height: auto;
  }
  .about-text p{
    margin-bottom: 10% ;
  }
  .links{
    margin-bottom: 12%;
  }
}